/* Estilos base para dispositivos móviles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/img/fondo4.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
    background-position: center; /* Para centrar la imagen en el fondo */
}


/* Estilos para el header*/
.img-navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.BarraDeNavegacion {
    background-color: rgba(36, 36, 130, 0.886);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    margin: 10px;
}

.itemsNavegacion {
    list-style: none;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

.itemsNavegacion a {
    text-decoration: none;
    color: inherit !important;
}

/*Estilos para imágenes de agenda*/
.contenedorFechas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedorFechas figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}

.contenedorFechas figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorFechas figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorFechas figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedorFechas figure:hover > .capa h3{/*titulo de cada imagen de agenda*/
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedorFechas figure:hover > img{
    transform: scale(1.3);
}

.contenedorFechas figure .capa h3{/*titulo de cada imagen de agenda*/
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 20px;
}

.contenedorFechas figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}



/* Estilos para el footer */
.footer {
    background-color: rgba(34, 34, 73, 0.886);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.social_media ul,
.contact_info ul {
    list-style: none;
    padding: 0;
}

.social_media ul li,
.contact_info ul li {
    display: inline-block;
    margin-right: 15px;
}

.contact_info ul {
    flex-direction: column;
    align-items: flex-end;
}

.contact_info ul li {
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a i {
    font-size: 24px;
    color: white;
}

.carousel-inner img {
    height: 50vh;
    object-fit: cover;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .BarraDeNavegacion {
        flex-direction: row;
        height: 2.5rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .itemsNavegacion {
        margin: 0;
    }

    .img-navbar {
        width: 100%;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
    .BarraDeNavegacion {
       display: flex;
       width: auto;
       height: auto;
       justify-content: space-around;
    }

    .img-navbar {
        width: 500px;
    }

    /* Ajustes para las tarjetas en dispositivos de escritorio */
    .cards-row .col-md-3 {
        margin-right: 3px;
        margin-bottom: 10px; /* Agrega un margen inferior de 10px a las tarjetas */
        display: grid; /* Revierte a la visualización de bloque */
    }

    .cards-row .col-md-3:last-child {
        margin-right: 0; /* Elimina el margen a la derecha de la última tarjeta en dispositivos de escritorio */
    }
}

/* Estilos para dispositivos de escritorio con max-width */
@media screen and (max-width: 1023px) {
    .BarraDeNavegacion {
        flex-direction: column;
        align-items: center;
    }

    .itemsNavegacion {
        margin: 10px;
    }
}