* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estilos para la barra de navegación */
.img-navbar {
    width: 500px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.BarraDeNavegacion {
    background-color: rgba(36, 36, 130, 0.886);
    margin-right: 20rem;
    margin-left: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.5rem;
    align-items: center;
}

.itemsNavegacion {
    list-style: none;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.itemsNavegacion a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit !important; /* Usa el color heredado, anulando cualquier otro color definido */
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



.right-column {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: rgba(36, 36, 130, 0.886);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos para el footer */
.footer {
    background-color: rgba(34, 34, 73, 0.886);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilos para las redes sociales y la información de contacto en el footer */
.social_media ul,
.contact_info ul {
    list-style: none;
    padding: 0;
}

.social_media ul li,
.contact_info ul li {
    display: inline-block;
    margin-right: 15px;
}

.contact_info ul {
    flex-direction: column;
    align-items: flex-end;
}

.contact_info ul li {
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a i {
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .BarraDeNavegacion {
        flex-direction: column;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

    .itemsNavegacion {
        margin: 10px 0;
    }



    .right-column {
        width: 90%;
        max-width: none;
    }
    
    .footer {
        position: relative;
        margin-top: 20px;
    }

    .container,
    main,
    .right-column {
        margin-right: 10px;
        margin-left: 10px;
    }

    .BarraDeNavegacion {
        margin-right: 10px;
        margin-left: 10px;
    }

    .img-navbar {
        width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
        height: auto; /* El alto se ajustará automáticamente para mantener la proporción */
    }
}
