/* Estilos base para dispositivos móviles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.img-navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.BarraDeNavegacion {
    background-color: rgba(36, 36, 130, 0.886);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    margin: 10px;
}

.itemsNavegacion {
    list-style: none;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

.itemsNavegacion a {
    text-decoration: none;
    color: inherit !important;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 1;
}

.section-Region {
    background-image: url("https://pixabay.com/get/ga86d5d0f2797806c8e2f456e4e5dd6e402175707423fe9fadfe25df71caaed2ae2b774a7fedfec8fbb90426c738e5810cfc2130582846d535449247b9d30a02de4805c7e9920b75d53fd5481d5d18668_640.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 1rem 1rem 1rem;
}

.presentation {
    color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title-1 {
    font-weight: bold;
    color: rgb(91, 107, 227);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Mapa */
.googlemaps{
    background-color: rgba(255, 255, 255, 0.886);
    padding: 2rem;
}

/* Cards con imágenes y textos */
.containercardsespaciosculturales{
    border: 1px solid red;
}
.cardespaciosculturales{
    border: 1px solid rgb(56, 15, 167);
}
.textcardsespaciosculturales{
    margin-top: 0px;
    border: 1px solid rgb(214, 144, 13);
}

/* Estilos para el footer */
.footer {
    background-color: rgba(34, 34, 73, 0.886);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.social_media ul,
.contact_info ul {
    list-style: none;
    padding: 0;
}

.social_media ul li,
.contact_info ul li {
    display: inline-block;
    margin-right: 15px;
}

.contact_info ul {
    flex-direction: column;
    align-items: flex-end;
}

.contact_info ul li {
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a i {
    font-size: 24px;
    color: white;
}

.carousel-inner img {
    height: 50vh;
    object-fit: cover;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .BarraDeNavegacion {
        flex-direction: row;
        height: 2.5rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .itemsNavegacion {
        margin: 0;
    }

    .img-navbar {
        width: 100%;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
    .BarraDeNavegacion {
       display: flex;
       width: auto;
       height: auto;
       justify-content: space-around;
    }

    .img-navbar {
        width: 500px;
    }

    /* Ajustes para las tarjetas en dispositivos de escritorio */
    .cards-row .col-md-3 {
        margin-right: 3px;
        margin-bottom: 10px; /* Agrega un margen inferior de 10px a las tarjetas */
        display: grid; /* Revierte a la visualización de bloque */
    }

    .cards-row .col-md-3:last-child {
        margin-right: 0; /* Elimina el margen a la derecha de la última tarjeta en dispositivos de escritorio */
    }
}

/* Estilos para dispositivos de escritorio con max-width */
@media screen and (max-width: 1023px) {
    .BarraDeNavegacion {
        flex-direction: column;
        align-items: center;
    }

    .itemsNavegacion {
        margin: 10px;
    }
}
