.flexJustify{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
/* Estilos para escritorio  */
@media screen and (min-width: 1024px) {

    /* Ajustes para las tarjetas del carrusel  */
    .cards-row .col-md-3 {
        margin-right: 3px;
        margin-bottom: 10px;
        display: grid;
    }

    .cards-row .col-md-3:last-child {
        margin-right: 0;
    }

    .carousel-inner img {
        width: 100%;
        max-width: 1000px;
        max-height: 800px;
        margin: 0 auto;

    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        background-image: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .carousel-control-prev-icon::after {
        content: '<';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-control-next-icon::after {
        content: '>';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}