*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    border: 1px solid #291f88;
    margin: 1rem;
}

/* Estilos para la barra de navegación */
.img-navbar {
    width: 500px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.BarraDeNavegacion {
    background-color: rgba(36, 36, 130, 0.886);
    margin-right: 20rem;
    margin-left: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.5rem;
    align-items: center;
}


main{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-Region{
    border: 1px solid rgb(32, 214, 87);
    background-image: url("https://pixabay.com/get/ga86d5d0f2797806c8e2f456e4e5dd6e402175707423fe9fadfe25df71caaed2ae2b774a7fedfec8fbb90426c738e5810cfc2130582846d535449247b9d30a02de4805c7e9920b75d53fd5481d5d18668_640.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 1rem 1rem 1rem;
    /*background-size: 70rem; 
    background-repeat: no-repeat;
    background-position: center;*/
   
}

.presentation{
    color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center   

}


.title-1{
    font-weight: bold;
    color: rgb(41, 40, 40);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;

}

.itemsNavegacion{
    list-style: none;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.itemsNavegacion a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit !important; /* Usa el color heredado, anulando cualquier otro color definido */
}

/*Cuadrícula de imágenes en index*/

.container-imgCultura{
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.img-Cultura{
    height: 10rem;
}


/*Fin - cuadrícula de imágenes en index*/

/* Estilos para el footer */
.footer {
    background-color: rgba(34, 34, 73, 0.886);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilos para las redes sociales y la información de contacto en el footer */
.social_media ul,
.contact_info ul {
    list-style: none;
    padding: 0;
}

.social_media ul li,
.contact_info ul li {
    display: inline-block;
    margin-right: 15px;
}

.contact_info ul {
    flex-direction: column;
    align-items: flex-end;
}

.contact_info ul li {
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a i {
    font-size: 24px;
}


/*responsive*/
@media screen and (max-width: 768px) {
    .BarraDeNavegacion {
        flex-direction: column;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

    .itemsNavegacion {
        margin: 10px 0;
    }

    .right-column {
        width: 90%;
        max-width: none;
    }
    
    .footer {
        position: relative;
        margin-top: 20px;
    }

    .container,
    main,
    .right-column {
        margin-right: 10px;
        margin-left: 10px;
    }

    .BarraDeNavegacion {
        margin-right: 10px;
        margin-left: 10px;
    }

    .itemsNavegacion {
        margin: 10px 0;
    }

    .img-navbar {
        width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
        height: auto; /* El alto se ajustará automáticamente para mantener la proporción */
    }
}