/* Estilos base para dispositivos móviles 
/* Estilos base para dispositivos móviles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6F7F8;

}

/* Estilo para main*/

.section-Region {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.title-1 {
    background-color: #0079C1;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;


}

.presentation {
    color: #0079C1;
    text-align: center;
}


/* Estilos para el header*/
.img-navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.BarraDeNavegacion {
    background-color: #00457c;
    border-bottom: 7px solid #0079C1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;

}

.itemsNavegacion {
    list-style: none;
    font-weight: bold;
    color: #F6F7F8;
    margin: 10px 0;
}

.itemsNavegacion a {
    text-decoration: none;
    color: inherit !important;
}


/* Estilos para el footer */
.footer {
    background-color: #00457c;
    color: #F6F7F8;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer a {
    color: #F6F7F8;
    text-decoration: none;
}

.social_media ul,
.contact_info ul {
    list-style: none;
    padding: 0;
}

.social_media ul li,
.contact_info ul li {
    display: inline-block;
    margin-right: 15px;
}

.contact_info ul {
    flex-direction: column;
    align-items: flex-end;
}

.contact_info ul li {
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a i {
    font-size: 24px;
    color: #F6F7F8;
}

.carousel-inner img {
    height: 50vh;
    object-fit: cover;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .BarraDeNavegacion {
        flex-direction: row;

    }


    .itemsNavegacion {
        margin: 0;
    }

    .img-navbar {
        width: 100%;
    }

    .contenedorTitulo {
        margin: 0;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }


}

/* Estilos para escritorio  */
@media screen and (min-width: 1024px) {
    .BarraDeNavegacion {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-around;
    }

    .img-navbar {
        width: 500px;
    }

    /* Ajustes para las tarjetas del carrusel  */
    .cards-row .col-md-3 {
        margin-right: 3px;
        margin-bottom: 10px;
        display: grid;
    }

    .cards-row .col-md-3:last-child {
        margin-right: 0;
    }

    .carousel-inner img {
        width: 100%;
        max-width: 1000px;
        max-height: 800px;
        margin: 0 auto;

    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        background-image: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .carousel-control-prev-icon::after {
        content: '<';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-control-next-icon::after {
        content: '>';
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}