* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

/* Estilos para el header*/
.img-navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.BarraDeNavegacion {
    background-color: #00457c;
    border-bottom: 7px solid #0079C1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
  
}

.itemsNavegacion {
    list-style: none;
    font-weight: bold;
    color: #F6F7F8;
    margin: 10px 0;
}

.itemsNavegacion a {
    text-decoration: none;
    color: inherit !important;
}

body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#F6F7F8;
}

/*nav ul li a {
    color: #ffffff;
    text-decoration: none;
}*/

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 1;
}

section {
    margin-bottom: 20px;
}

section img {
    display: block;
    margin: 10px 0;
}

h2 {
    color: #7560a0;
    margin-top: 0;
}
.footer {
    background-color: rgba(34, 34, 73, 0.886);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.social_media ul,
.contact_info ul {
    list-style: none;
    padding: 0;
}

.social_media ul li,
.contact_info ul li {
    display: inline-block;
    margin-right: 15px;
}

.contact_info ul {
    flex-direction: column;
    align-items: flex-end;
}

.contact_info ul li {
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a i {
    font-size: 24px;
    color: white;
}

.carousel-inner img {
    height: 50vh;
    object-fit: cover;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .BarraDeNavegacion {
        flex-direction: row;
        height: 2.5rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .itemsNavegacion {
        margin: 0;
    }

    .img-navbar {
        width: 100%;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}
