/* Estilos base para dispositivos móviles */

.descripcion {
    display: block; 
    text-align: center; 
}

.descripcion img {
    max-width: 80%; 
    height: auto; 
}



/* Desktop styles */
@media screen and (min-width: 1024px) {

    .cards-row .col-md-3 {
        margin-right: 3px;
        margin-bottom: 10px; 
        display: grid; 
    }

    .cards-row .col-md-3:last-child {
        margin-right: 0; 
    }
}
