
.respuesta{
    display: flex;
    justify-content: center;
    margin: 0.3rem 0;
    list-style-type: none;
    
}




/* Desktop styles */
@media screen and (min-width: 1024px) {

    /* Ajustes para las tarjetas en dispositivos de escritorio */
    .cards-row .col-md-3 {
        margin-right: 3px;
        margin-bottom: 10px; /* Agrega un margen inferior de 10px a las tarjetas */
        display: grid; /* Revierte a la visualización de bloque */
    }

    .cards-row .col-md-3:last-child {
        margin-right: 0; /* Elimina el margen a la derecha de la última tarjeta en dispositivos de escritorio */
    }
}

/* Estilos para dispositivos de escritorio con max-width */
@media screen and (max-width: 1023px) {

    .itemsNavegacion {
        margin: 10px;
    }
    .contenedorTitulo {
        margin: 10px
    }
}